/* Basic Style */
.box {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header .header__img {
  width: 100%;
}
.header .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todo__list_name,
.todo__task_input,
.todo__list_text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.todo__task_wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
input,
button{
  outline: none;
}
.todo__task_button,
.todo__list_edit,
.todo__list_delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo__task_button:hover,
.todo__list_edit:hover,
.todo__list_delete:hover {
  color: #3a3a3a;
}
/* Heading */
.todo__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo__list_text,
.todo__task_input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo__list_edit:focus,
.todo__task_input:focus {
  color: #333;
}

/* New Task */
.todo__title {
  display: block;
  margin: 0 0 20px;
}
.todo__task_input {
  width: 318px;
}

/* Task list */
.todo__list_item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__list_checkbox,
.todo__list_name,
.todo__list_text,
.todo__list_edit,
.todo__list_delete {
  vertical-align: middle;
}

.todo__list_checkbox {
  margin: 0 10px;
}
.todo__list_name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.todo__list_text {
  width: 226px;
}
.todo__list_img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todo__list_img:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo__list_completed .todo__list_name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__list_text {
  display: none;
}

.todo__list_item_edit_mode .todo__list_text {
  display: inline-block;
  width: 224px;
}

.todo__list_item_edit_mode .todo__list_name {
  display: none;
}
